<template id="counterTemplate">
    <div>
        <button type="button" class="js-decrease">-</button>
        <input type="text" class="js-value" value="0"/>
        <button type="button" class="js-increase">+</button>
    </div>
</template>
