<template id="productCard">
    <div class="product-card _border js-product-card">
        <div class="item-image">
            <img class="item-image__photo js-product-img" src="" alt="Изображение не найдено">
        </div>
        <div class="product-card__name _card-font">
            <span class=" js-product-name"></span>
        </div>
        <div class="product-card__price _card-font">
            <span class="js-product-price"></span>
            <span>руб.</span>
        </div>
        <div class="product-card__socks-size">
            <select class="product-card__socks-size _option-text">
                <option>Размер</option>
                <option>39-40</option>
                <option>41-42</option>
                <option>43-44</option>
            </select>
        </div>
        <div class="product-card__in-basket-button _font js-add-to-basket">
            <span>В корзину</span>
        </div>
    </div>
</template>
