<%- include('../fragments/header'); %>
<body>
    <form action="/create" method="post">
        <div class="form-group">
            <label for="productName">Название товара</label>
            <input type="text" name="name" class="form-control" id="productName" placeholder="Название товара">
        </div>
        <div class="form-group">
            <label for="productImg">Ссылка на картинку товара</label>
            <input type="text" name="img" class="form-control" id="productImg" placeholder="Ссылка на картинку товара">
        </div>
        <div class="form-group">
            <label for="productPrice">Цена товара</label>
            <input type="text" name="price" class="form-control" id="productPrice" placeholder="Цена товара">
        </div>
        <input type="submit" class="btn btn-primary">Submit</input>
    </form>
</body>
